<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Medical Theme Css Template</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="iecss.css" />
<![endif]-->
</head>

<body>
<div id="main_container">
    
    <div id="middle_box">
    	<div class="middle_box_content"></div>

    

            <div class="pattern_content">
            <h2><span class="dark_blue">Misión</span></h2><br/><br/>
            <p class="pat">
Somos una farmacia online dedicada a satisfacer las necesidades de nuestros clientes nacionales, innovando productos farmacéuticos con precios y ofertas accesibles para todos, con un excelente servicio, enfocada a facilitarle la vida, desde la comodidad de su casa o donde se encuentre.
            </p>
            </div>
    </div>
    
    
    <div class="pattern_bg">
    
    	<div class="pattern_box">
            <div class="pattern_box_icon"><img src="/images/icon1.png" alt="" title="" width="70" height="112" /></div>
            <div class="pattern_content">
            <h1>Nuestra <span class="blue">Vision</span></h1>
            <p class="pat">
Ser una empresa ágil y en constante innovación y desarrollo, orientada a la excelencia, apoyada por la alta calidad de su producto, que le permite mantener el liderazgo y el reconocimiento de una empresa sólida en todo ambito. 
            </p>
            </div>
        </div>
        
        
    	<div class="pattern_box">
            <div class="pattern_box_icon"><img src="/images/icon2.png" alt="" title="" width="70" height="112" /></div>
            <div class="pattern_content">
            <h1><span class="blue"> Honestidad</span></h1>
            <p class="pat">
Es una de las principales cualidades que nos caracterizan de otras empresas online y en ellas están integradas la verdad, honradez y rectitud hacia nuestros clientes, cumpliendo con lo pactado.
            </p>
            </div>
        </div>        
        
    
    </div>
    
    <div id="main_content">
    
 			<div class="box_content">
					<div class="box_title">
                    	<div class="title_icon"><img src="/images/mini_icon1.gif" alt="" title="" /></div>
                        <h2>La <span class="dark_blue">Responsabilidad</span></h2>
                    </div>
                    
                    <div class="box_text_content">
                    	<img src="/images/calendar.gif" alt="" title="" class="box_icon" />
                        <div class="box_text">
Este valor es fundamental para nosotros ya que gracias a él, estamos comprometidos con nuestros clientes asumiendo las consecuencias que se presenten ante cualquier circunstancia pérdida, robo o extravió del producto requerido.
                        </div>
                        
                    </div>

                    <div class="box_text_content">
                    	<img src="/images/calendar.gif" alt="" title="" class="box_icon" />
                        <div class="box_text">
 Algo que nos caracteriza es la fidelidad que tenemos hacia la empresa y a nuestros clientes, dejándoles ver que los productos vendidos son duraderos y de confiar.
                        </div>
     
                    </div>
	
            </div>
            
            
 			<div class="box_content">
					<div class="box_title">
                    	<div class="title_icon"><img src="/images/mini_icon2.gif" alt="" title="" /></div>
                        <h2>La <span class="dark_blue"> Confianza</span></h2>
                    </div>
                    
                    <div class="box_text_content">
                    	<img src="images/checked.gif" alt="" title="" class="box_icon" />
                        <div class="box_text">
Este valor nos identifica como una empresa dedicada a brindar credibilidad y esperanza en nuestros clientes, ya que somos una herramienta a la mano y de fácil uso.
                        </div>

                    </div>

                    <div class="box_text_content">
                    	<img src="/images/checked.gif" alt="" title="" class="box_icon" />
                        <div class="box_text">
Aceptaremos todo tipo de opiniones de cada integrante que conforma nuestra red de usuarios y clientes, así como su apreciación y valoración hacia nuestros productos mediante los comentarios en el Foro.
                        </div>

                    </div>
	
            </div>            
            
            
  			<div class="box_content">
					<div class="box_title">
                    	<div class="title_icon"><img src="/images/mini_icon3.gif" alt="" title="" /></div>
                        <h2>El <span class="dark_blue">Compromiso:</span></h2>
                    </div>
                    
                    <div class="box_text_content">
                    	<img src="images/checked.gif" alt="" title="" class="box_icon" />
                        <div class="box_text">
			Como una empresa estamos comprometidos a ser eficientes y eficaces para que nuestro cliente reciba su producto a tiempo, tal como él lo pidió y bajo todos los estándares de seguridad y calidad.
                        </div>
                    </div>

                    <div class="box_text_content">
                    	<img src="images/checked.gif" alt="" title="" class="box_icon" />
                        <div class="box_text">
			 La vida es mejor con Farmainvestors
                        </div>
           
                    </div>
	
            </div>           
            
            
            
            
            
            
            
            
            
         
            
            
        <div class="clear"></div>    
       </div>     
            
            
     <div id="footer">

        <div class="center_footer">&copy; FarmaInvestors 20011. All Rights Reserved</div>

    
    
    </div>


</div>
</body>
</html>
