<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Medical Theme Css Template</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="iecss.css" />
<![endif]-->
</head>

<body>
<div id="main_container">
    
    
    <div id="middle_box">
    	<div class="middle_box_content"></div>

 <br/> <br/>

<div class="box_text">
 <h2> Acerca<span class="dark_blue"> de Nosotros</span></h2>
 <br/>
                       Farmainvestor  es una empresa que proporciona a los clientes diversos productos especialmente farmacéuticos online. 

                        </div>

    </div>
    
    
    <div class="pattern_bg">
    
    	<div class="pattern_box">
            <div class="pattern_box_icon"><img src="/images/icon1.png" alt="" title="" width="70" height="112" /></div>
            <div class="pattern_content">
            <h1>Nuestra <span class="blue">Meta</span></h1>
            <p class="pat">
Nuestra meta es lograr que la compra online tenga un carácter interactivo e inmediato. </p>
            </div>
        </div>
        
        
    	<div class="pattern_box">
            <div class="pattern_box_icon"><img src="/images/icon2.png" alt="" title="" width="70" height="112" /></div>
            <div class="pattern_content">
            <h1>Ventaja <span class="blue"> Competitiva</span></h1>
            <p class="pat">
La ventaja competitiva se define en base a los servicios prestados, ya que nuestro mercado meta es el publico en general, los productos se exhibirán online donde el cliente tendrá el acceso directo en adquirir con facilidad diversos productos que deseen.             </p>
            </div>
        </div>        
        
    
    </div>
    
    <div id="main_content">
    
 			
            
          <div class="box_content">
				
	
            </div>           
            
            
            
            
            
            
            
            
            
         
            
            
        <div class="clear"></div>    
       </div>     
            
            
     <div id="footer">

        <div class="center_footer">&copy; FarmaInvestors 20011. All Rights Reserved</div>

    
    
    </div>


</div>
</body>
</html>

